{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../static/logo.png?id=69" type="image/x-icon">
    <link rel="stylesheet" href="../static/output.css?id=1234">
    <script src="../static/htmx.min.js"></script>
    <title>Tini</title>
</head>

<body class="max-w-5xl mx-auto h-screen xl:border-x-2 bg-orange-50">
    <div class="flex justify-center items-center flex-col h-full">
        <section>
            <div class="font-bold text-8xl text-orange-600">
                Tini
            </div>
        </section>
        <section>
            {{template "main" .}}
        </section>
    </div>
    {{template "script" .}}
</body>
</html>
{{end}}